{% extends 'coin/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{category.name}}
{% endblock %}

{% block body_block %}
<div class="container">
  

      {% if category %}
      
          <h1>Add a Page to {{category.name}}</h1>
          <form id="page_form" method="post" action="/coin/category/{{ category.slug }}/add_page/">
              {% csrf_token %}
              {% for hidden in form.hidden_fields %}
                  {{ hidden }}
              {% endfor %}
              <br>
              {% for field in form.visible_fields %}
                  {{ field.errors }}
                  {{ field.help_text }}
                  {{ field }}
              {% endfor %}
              <br>
              <input type="submit" name="submit" value="Add Page" />
          </form>
      
      {% else %}
        The specified category does not exist!
      {% endif%}
      
</div>
{% endblock %}
