<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>coINFO</title>
  <link rel="stylesheet" href="{% static "css/main.css" %}" />
  <script src="{% static "js/main.js" %}"></script>
</head>
<body>
  <h1>Hey</h1>
  <div>
    {% if categories %}
    <ul>
      {% for category in categories %}
      <li> {{category.name}}</li>
      {% endfor %}
    </ul>
    {% else %}
      <strong>There are no Categories Present.</strong>
    {% endif %}
  </div>
  <div>
    <a href="/coin/about/">About </a> <br />
    <img src="{% static "images/hoy.png" %}">
  </div>
</html>
</body>