{% extends 'coin/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{category.name}}
{% endblock %}

{% block body_block %}

<div class="container">
  
  
  {% if user.is_authenticated %}
    <h3>Hey! {{ user.username }}</h3> 
  {% else %}
    hey there partner!
  {% endif %}

  <div>
    <p>visits: {{ visits }}</p>
    {% if categories %}
    <ul>
      {% for category in categories %}
      <li><a href="{% url 'show_category' category.slug %}">{{category.name}}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <strong>There are no Categories Present.</strong>
    {% endif %}
  </div>
  <div>
    <h1>top pages</h1>
    {% if pages %}
    <ul>
      {% for page in pages %}
      <li><a href="{{ page.url }}">{{page.title}}</a> - {{ page.category}} ({{page.views}} view(s))
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <strong>There are no top pages Present.</strong>
    {% endif %}
  </div>
<!--   <div>
    <a href="{% url 'about' %}">About </a> <br/>
    <a href="/coin/add_category/">Add a Category</a> <br/>
    <img src="{% static "images/hoy.png" %}">
  </div>
 -->
</div>
{% endblock %}